:root {
  --hiro-c-black: #050611;

  --hiro-c-light-green: #e8ffd8;
  --hiro-c-green: #5e9736;
  --hiro-c-khaki: #43622e;
  --hiro-c-dark-green: #1f3112;

  --hiro-c-bronze: #cd8e17;
  --hiro-c-white: #f8f8f8;
  --hiro-c-gray: #84878a;
  --hiro-c-dark-gray: #494e52;

  --hiro-c-cube-orange: #df6520;
  --hiro-c-cube-blue: #0c68aa;
  --hiro-c-cube-violet: #851eb6;
  --hiro-c-cube-yellow: #d49f30;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--hiro-c-black);
  --color-heading: var(--hiro-c-bronze);

  --color-text: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  color: var(--color-text);
  background: #050611 url('backgrounds/background-mobile.svg');
  background-size: cover;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  font-size: 0.875rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 0.5rem;

  @media (--breakpoint-tablet) {
    padding: 0 1rem;
  }

  @media (--breakpoint-desktop) {
    background: url('backgrounds/background.svg');
    background-size: cover;
  }
}

button {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
}
